<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bank.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Bank.Properties.Settings.БанкConnectionString" connectionString="Data Source=desktop-qpt6dt7\mssqlserver01;Initial Catalog=Банк;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Bank.Properties.Settings>
            <setting name="button" serializeAs="String">
                <value>0, 174, 219</value>
            </setting>
            <setting name="button1" serializeAs="String">
                <value>Century Gothic, 11.25pt</value>
            </setting>
            <setting name="button2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="button3" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="button4" serializeAs="String">
                <value>Flat</value>
            </setting>
        </Bank.Properties.Settings>
    </userSettings>
</configuration>